@page
@model FUNewsManagementSystem.WebRazorPage.Pages.NewsArticles.EditModel
@{
    Layout = null;
}

<form method="post" id="editForm" asp-page="Edit" class="p-3">
    <input type="hidden" asp-for="NewsArticle.NewsArticleId" />

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input asp-for="NewsArticle.NewsTitle" class="form-control" required />
        <span asp-validation-for="NewsArticle.NewsTitle" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Headline</label>
        <input asp-for="NewsArticle.Headline" class="form-control" required />
        <span asp-validation-for="NewsArticle.Headline" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea asp-for="NewsArticle.NewsContent" class="form-control"></textarea>
        <span asp-validation-for="NewsArticle.NewsContent" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">News Source</label>
        <input asp-for="NewsArticle.NewsSource" class="form-control" />
        <span asp-validation-for="NewsArticle.NewsSource" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <select asp-for="NewsArticle.CategoryId" class="form-select">
            @foreach (var category in Model.Categories.Where(x => x.IsActive == true))
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
        <span asp-validation-for="NewsArticle.CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Tags</label>
        <div class="form-check">
            @foreach (var tag in Model.Tags)
            {
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input"
                           name="SelectedTags"
                           value="@tag.TagId"
                           id="tag_@tag.TagId"
                    @(Model.SelectedTags.Contains(tag.TagId) ? "checked" : null) />
                    <label for="tag_@tag.TagId" class="form-check-label">@tag.TagName</label>
                </div>
            }
        </div>
    </div>
    <div class="mb-3">
        <label for="NewsArticle_NewsStatus" class="form-label">Status</label>
        <select id="NewsArticle_NewsStatus" asp-for="NewsArticle.NewsStatus" class="form-select">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
        <span asp-validation-for="NewsArticle.NewsStatus" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success w-100">Save</button>
</form>
